.buttons {
    margin-left: 5%;
}

.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#tooltip {
    position: fixed;
    display: inline-block;
}

#title {
    justify-content: center;
    text-align: center;
}

#description {
    margin: 20px 100px;
}